.inputUI{
    width: 35%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    width: 58px;
    height: 58px;
}

.Buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}